
/* loader */
.loader {
    opacity: 1;
    display: flex;
    position: relative;
    top: 30px;
    left: 20%;
    transition: opacity 0.3s ease-in;
  }
  .loader-text {
    font-size: 20px;
    font-family: monospace;
  }
 
  .loader.show {
    opacity: 1;
    display: flex;
  }
  
  .circle {
    /* background-color: #000; */
    width: 10px;
    height: 10px;
    font-size: 20px;
    border-radius: 50%;
    /* border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db; */
    margin: 5px;
    animation: bounce 0.7s ease-in  infinite;
    -webkit-animation: bounce 0.7s ease-in  infinite;
  }
 
  .circle:nth-of-type(2) {
    animation-delay: .12s;
    -webkit-animation-delay: .12s;
  }
  
  .circle:nth-of-type(3) {
    animation-delay: .22s;
    -webkit-animation-delay: .22s;
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-15px);
    }
  }
 /* Safari */
 @-webkit-keyframes bounce {
    0%,
    100% {
      -webkit-transform: translateY(0);
    }
  
    50% {
      -webkit-transform: translateY(-15px);
    }
  }
  

   /* .circle {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
  } */
  
  /* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */
  /* Safari */
  /* @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  } */
  