/* Colors
navbar color: light blue: #0794f3
hover color: Light blue: #068ce6
White: #fff
*/
.main-message-board {
  margin-top: 70px;
}

.user-image-div.large {
  width: 70px;
}

/* message-board */
.message-board {
  min-width: 100%;
  background-color: #fff;
  /* padding: 10px; */
}
.message-board-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
}
.message-board-nav div:last-child span {
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}
.message-board-nav div:last-child span:hover {
  background-color: #0794f3;
  color: #fff;
}
.message-board-body {
  height: fit-content;
  height: 60vh;
  flex-grow: 1;
  width: 100%;
  overflow: scroll;
}
