/* :root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
} */
/* Colors
navbar color: light blue: #0794f3
hover color: Light blue: #068ce6
White: #fff
const colors = ['#ff7802', '#52017f', '#ea0003', '#00809e', '#20c579', '#e7e600', '#eb4f82', '#73cae3', '#027ebc', ]
*/
.main-teacher {
    padding-top: 8vh;
    height: 92vh;
    width: 100vw;
    display: flex;
}
.main-teacher div.t-child-div:first-child{
    flex: 1;
    background-color: #ddd;
    padding: 0 10px;
    border-right: 1px solid gray;
}
.main-teacher div.t-child-div:first-child div ul {
    margin: 0;
}
.main-teacher div.t-child-div:first-child div h2 {
    margin: 0;
    padding: 5px;
}
.main-teacher div.t-child-div:nth-child(2){
    flex: 4;
}

/* Switch button */
.main-switch {
    /* background-color: #ddd; */
    width: 100%;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.click-btn {
    padding: 5px 10px;
    background-color: #333;
    opacity: 0.5;
    color: #fff;
    cursor: pointer;
    border: 3px solid;
    font-size: 16px;
    border-radius: 30px;
    margin: 5px;
}
.click-btn:focus,
button.delete-btn:focus {
    outline: 0;
    opacity: 1;
    border-color: #0794f3;
}
.click-btn:hover {
    background-color: #333;
    /* color: #0794f3; */
    opacity: 1;
}

  /* end Switch button */

  /* User div */
  .t-users {
      margin: 0 auto;
      width: 800px;
  }

  /* drop down button */
  .dropdown {
      position: relative;
    /* float: left;
    overflow: hidden; */
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;

    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    z-index: 10;
  }