.class-aside {
    padding: 7px;
    margin: 7px;
    margin: 0 auto;
    width: 320px;
    border-radius: 10px;
    position: relative;
  }
  .work-notifications-div {
    padding: 10px;
    height: 200px;
    width: 100%;
    border: 1px solid #d3e7f5;;
    overflow: hidden;
  }
.class-img-upload-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}