.class-users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    width: 95%;
    padding: 10px;
    /* margin: 0 auto; */
    border: 1px solid #d3e7f5;
    border-radius: 10px;
    /* margin-top: 5px; */
}
/* @media(max-width:900px) {
  .class-users {
    width: 80vw;
  }
} */
.each-student-main {
    display: flex;
    justify-content: space-between;
}
.each-student {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.each-student p {
    margin-left:10px;
}
.each-student-link {
  text-decoration: none;
  width: 100%;
}
.user-image-md {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 3px;
}
  .side-header h4
   {
    text-transform: capitalize;
    color: #333;
    margin: 0;
  }
.userListScroll2 {
  /* overflow: scroll; */
  /* height: 300px; */
  /* max-height: 100vh;
  min-height: 100vh; */
  /* width: 60vw;
  margin: 0 auto;
  background-color: 	#F5F5F5; */
  width: 100%;
}
.searchInClassInput {
  width: 90%;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 30px;
  border: 0.5px solid #d3e7f5;
  margin: 5px 0;
  align-self: center;
}
.searchInClassInput:focus {
  outline: 0;
}

/* show and hide user list */
#studentsList,
#teachersList {
  display: none;
}
/* show and hide user list */
#studentsList.show,
#teachersList.show {
  display: block;
  z-index: 1000;
}