
.userListMenu-content {
  width: 65vw;
  /* height: 300px; */
  background-color: 	#F5F5F5;
  position: fixed;
  top: 18%;
  left: 15%;
}
@media(max-width: 500px) {
  .userListMenu-content {
      width: 75vw;
    }
}
.students-list {
    /* height: 300px; */
    width: 300px;
    background-color: 	#F5F5F5;
    padding: 7px;
}
.userListScroll2 {
  overflow: scroll;
  /* height: 300px; */
  max-height: 100vh;
  min-height: 100vh;
  width: 300px;
  background-color: 	#F5F5F5;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .main-class-page {
      display: flex;
      margin-top: 52px;
      height: 90vh;
  }
  .left-class-page-div {
    flex: 1;
  }
  .right-class-page-div {
    flex: 3;
  }
.cover-image {
    width: 300px;
     height: 200px;
     border-radius: 10px;
}
  .class-navbar {
    /* position: fixed;
    top: 50px; */
    overflow: hidden;
    background-color: #fff;
  }
  .side-header {
    /* margin-top: 90px; */
  }
  .class-navbar a,
  .side-header h2
   {
    float: left;
    text-transform: capitalize;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: 0;
  }
  .class-navbar a:hover,
  .class-navbar button:hover
   {
      background-color: #F5F5F5;
      color: #333;
      color: #0794f3;
      border-radius: 30px;
  }
  .class-navbar h2:hover {
    cursor: initial;
    background-color: initial;
    color: initial;
  }
  .class-navbar button:focus {
    outline: 0;
  }
