
/* 
 */

  .main-class-page {
      margin-top: 80px;
      /* height: 90vh; */
  }

  /* @media(max-width:900px) {
    .left-class-page-div {
      display: none;
    }
  }
  .right-class-page-div {
    overflow: hidden; 
  }
*/
