
.userListMenu-content {
  width: 350px;
  /* height: 300px; */
  background-color: 	#F5F5F5;
  position: fixed;
  top: 18%;
  left: 30%;
}
.students-list {
    /* height: 300px; */
    width: 300px;
    background-color: 	#F5F5F5;
    padding: 7px;
}
.userListScroll2 {
  overflow: scroll;
  /* height: 300px; */
  max-height: 100vh;
  min-height: 100vh;
  width: 300px;
  background-color: 	#F5F5F5;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .main-class-page {
      display: flex;
      margin-top: 52px;
      height: 90vh;
  }
  .left-class-page-div {
    flex: 1;
  }
  .right-class-page-div {
    flex: 3;
  }
.cover-image {
    width: 100%;
     height: 300px;
}
  .class-navbar {
    /* position: fixed;
    top: 50px; */
    overflow: hidden;
    background-color: #fff;
  }
  .side-header {
    /* margin-top: 90px; */
  }
  .class-navbar a,
  .side-header h2
   {
    float: left;
    text-transform: capitalize;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: 0;
  }
  .class-navbar a:hover,
  .class-navbar button:hover
   {
      background-color: #F5F5F5;
      color: #333;
      color: #0794f3;
      border-radius: 30px;
  }
  .class-navbar h2:hover {
    cursor: initial;
    background-color: initial;
    color: initial;
  }
  .class-navbar button:focus {
    outline: 0;
  }
  .dropdown3 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown3 .dropbtn3 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    color: #333;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
  }
  
  .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
  }
  .dropdown-content3 p {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    margin: 0;
  }
  
  .dropdown-content3 p:hover {
    background-color: #F5F5F5;
  }
  
  .dropdown3:hover .dropdown-content3.show {
    display: block;
  }

  .class-students {
      
  }
  /* button.closeUserListBtn {
    float: 'right';
    background-color: 'red';
     color: 'white';
  } */