.main-user-list {
  background-color: #f5f5f5;
  box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.2);
}
.user-user-list-horizontal {
  position: relative;
}
.select-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input.searchInput {
  width: 93%;
  padding: 10px;
  font-size: 14px;
  border-radius: 30px;
  border: 0.5px solid #d3e7f5;
  margin: 5px 0;
}
input.searchInput:focus {
  outline: 0;
}
.userListScroll {
  width: 350px;
  max-height: 50vh;
  overflow: scroll;
}
button#addToClass,
button#removeFromClass {
  padding: 10px;
  margin: 2px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
}
button.addOneToClass,
button.removeOneFromClass {
  margin: 2px;
  cursor: pointer;
  border-radius: 30px;
}
button#removeFromClass,
button.removeOneFromClass {
  border-color: none;
}

button.addOneToClass:hover,
button#addToClass:hover {
  background-color: #068ce6;
  color: #fff;
}
button.removeOneFromClass:hover,
button#removeFromClass:hover {
  background-color: red;
  color: #fff;
}
button.removeOneFromClass:focus,
button#removeFromClass:focus {
  outline: 0;
}
button.addOneToClass:focus,
button#addToClass:focus {
  outline: 0;
}
.user-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.user-horizontal div:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 5px;
}
.user-image-sm {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.user-horizontal p {
  margin-left: 10px;
}
.close-form-btn {
  background-color: red;
  color: #fff;
  float: right;
  margin-left: 5px;
}

/* show and hide user list */
#studentsList,
#teachersList {
  display: none;
}
/* show and hide user list */
#studentsList.show,
#teachersList.show {
  display: block;
  z-index: 1000;
}
