/* loader */
.loader {
  opacity: 1;
  display: flex;
  position: relative;
  top: 100px;
  left: 20%;
  transition: opacity 0.3s ease-in;
}
.loader-text {
  font-size: 20px;
  font-family: monospace;
}

.loader.show {
  opacity: 1;
  display: flex;
}

.circle {
  width: 10px;
  height: 10px;
  font-size: 20px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.7s ease-in infinite;
  -webkit-animation: bounce 0.7s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.12s;
  -webkit-animation-delay: 0.12s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.22s;
  -webkit-animation-delay: 0.22s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}
/* Safari */
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-15px);
  }
}
