/* Colors
navbar color: light blue: #0794f3
hover color: Light blue: #068ce6
White: #fff
*/

nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #0794f3;
    background-color: #F0F0F0;
    /* box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2); */
    border-bottom: .1px solid rgb(235, 234, 234);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px;
}
.nav-items, 
.menu-icon {
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    color: #0794f3;
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
    background-color: #E8E8E8;
}
.nav-items:hover {
    /* color: #fff; */
    background-color: #E0E0E0;
}
.nav-items:focus {
    background-color: #0794f3;
    color: #fff;
}
#navbar-user-img {
    transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    position: relative;
    top: 5px;
    margin: 0 10px;
}

@media(min-width:1000px){
    #menu-bars-btn {
        display: none;
    }
}
@media(max-width: 700px){
    #navbar-logout-btn {
        display: none;
    }
}