/* Colors
navbar color: light blue: #0794f3
hover color: Light blue: #068ce6
White: #fff
*/

.main-sidebar {
    position: absolute;
    top: 0;
    background-color: rgba(19, 18, 18, 0.3);
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    z-index: 5;
    display: none;
    animation-name: main-sidebar;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes main-sidebar {
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}
.hide-main-sidebar {
    animation-name: hide-main-sidebar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes hide-main-sidebar {
    0%{opacity: 1;display: flex;}
    100%{opacity: 0;display: none;}
}
.side-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    color: #0794f3;
    z-index: 6;
    font-size: 18px;
    overflow: hidden;
    display: none;
    animation-name: sidebar;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes sidebar {
    0%{left: -250px;}
    100%{left: 0px;}
}
.show-sidebar {
    display: flex;
}
.hide-sidebar {
    animation-name: hide-sidebar;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes hide-sidebar {
    0%{left: 0px;display: flex;}
    100%{left: -250px;display: none;}
}

h4 {
    margin: 0;
    padding: 10px;
}
hr {
    width: 80%;
    border-radius: 50%;
}
.user {
    /* position: fixed; */
    height: 200px;
    width: 250px;
    z-index: 6;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sections {
    padding-bottom: 20px;
    overflow-y: scroll;
}
.sections ul {
    margin: 0;
    padding: 0;
}
.sections li{
    padding: 5px 20px;
    list-style: none;
}
.sections a {
    padding: 10px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #0794f3;
}
.sections a li span {
    padding: 20px;
}
.sections a li span:last-child {
    /* font-size: 20px; */
}
.sections a:hover {
    background-color: #0794f3;
    color: #fff;
    width: 100%;
}