/* Colors
navbar color: light blue: #0794f3;
hover color: Light blue: #068ce6;
White: #fff;
btn:  #0794f3;
btn:hover : #0576c2;
*/
/* .user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  40px;
    width: 400px;
}
.main-user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.user-form h2 {
    color: #0794f3;
}
.user-form label {
    padding: 5px;
    font-size: 16px;
    color: #39393a;
    font-weight: bold;
    letter-spacing: 0.2;
}
.user-form i {
    font-size: 12px;
}
.form-input {
    width: 100%;
    height: 20px;
    padding: 10px;
    margin: 0 15px 15px ;
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
}
.form-input:focus {
    outline: 0;
}
.form-btn {
    padding: 10px 20px;
    align-self: center;
   background-color:  #0794f3;
   box-shadow:  0 2px 10px rgba(0, 0, 0, 0.3);
   border: none;
   border-radius: 10px;
   color: #fff;
   font-weight: bold;
   font-size: 15px;
   transition: background 0.3s linear;
}
.form-btn:hover {
    background-color:  #33adff;
    cursor: pointer;
}
.form-btn:focus {
    outline: 0;
}

.form-btn.back-btn {
    background-color: transparent;
    color: #0581d4;
}
form.confirm-page {
    width: 100vw;
}
form.confirm-page label {
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    margin: 3px 0;
    min-height: 30px;
    width: 100%;
    cursor: pointer;
}
form.confirm-page label:hover {
    background-color: rgb(241, 238, 238);
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.3);
}
form.confirm-page label span {
    padding: 5px;
}
.cover-image-md {
    max-width: 500px;
    height: 400px;
} */