/* :root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
} */
/* Colors
navbar color: light blue: #0794f3
hover color: Light blue: #068ce6
White: #fff
const colors = ['#ff7802', '#52017f', '#ea0003', '#00809e', '#20c579', '#e7e600', '#eb4f82', '#73cae3', '#027ebc', ]
*/

* {
  font-size: 16px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.side-bar-app {
  display: flex;
  flex-direction: column;
  position: absolute;
  display: none;
  animation-name: sidebar;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes sidebar {
  0% {
    left: -250px;
  }
  100% {
    left: 0px;
  }
}
.show-sidebar {
  display: flex;
}
.hide-sidebar {
  animation-name: hide-sidebar;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes hide-sidebar {
  0% {
    left: 0px;
    display: flex;
  }
  100% {
    left: -250px;
    display: none;
  }
}

/* global dropdown content css */

.dropdown3 {
  float: left;
  overflow: hidden;
}

.dropdown3 .dropbtn3 {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  color: #333;
  padding: 10px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  border-radius: 3px;
}
.dropdown-content3.align-right {
  right: 0;
}
.dropdown-content3.align-left {
  left: 0;
}
.dropdown-content3 h4 {
  padding: 10px;
}
.dropdown-content3 p {
  float: none;
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  margin: 0;
}
.dropdown-content3 a {
  text-decoration: none;
  color: black;
}
.dropdown-content3 p:hover {
  background-color: #f5f5f5;
}

.dropdown3:hover .dropdown-content3.show {
  display: block;
}
