/* :root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.App {
  min-width: 900px;
}
/* .nav-style {
  text-align: right;
}

.nav-style li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}

.nav-style a {
  text-decoration: none;
} */