
.classwork-form {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 400px;
    padding: 0 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #068ce6;
}
#x-close-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #068ce6;
}
.classwork-form.show{
    /* top: -500px; */
    display: block;
    box-shadow: 0px 8px 20px 1000px rgba(0,0,0,0.5);
    animation-name: form-in;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    
}
@keyframes form-in {
    0%{top: -500px;}
    100%{top: 5vw;}
}
.classwork-form.hide{
    display: none;
    animation-name: form-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    
}

@keyframes form-out {
    0%{opacity:1;}
    100%{opacity: 0;}
}
@keyframes blur {
    0%{opacity: 1;}
    100%{opacity: 0.5;}
}
@keyframes clear-blur {
    0%{opacity: 0.5;}
    100%{opacity: 1;}
}
