.class-nav {
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.click-btn.focus-on {
    background-color: #0794f3;
    color: #fff;
}