
.mu-sidebar {
    display: flex;
    overflow: hidden;
}
.dynamic-sidebars {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 420px;
}